@import 'src/styles/variables';
@import 'src/styles/mixins';

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  border: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background: $white;
}

::-webkit-scrollbar-thumb {
  background-color: $gray;
  border-radius: 5px;
  border: 2px solid $white;
}

html,
body,
#root {
  height: 100%;
  font-weight: 500;
  transition: all 0.3s;
  color: $black;
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input[type='date'] {
  width: 100%;
  min-width: 100%;
  min-height: 46px;
  height: 46px;
  box-sizing: border-box;
  text-align: left;
  display: block;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  text-transform: uppercase;
}

input::-webkit-date-and-time-value {
  text-align: left;
}

.custom-slide {
  width: fit-content !important;
  height: auto !important;
  box-sizing: border-box;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.show {
  animation: show 0.3s ease-in-out;
}

.hide {
  animation: hide 0.3s ease-in-out;
}

.modal-opened {
  overflow: hidden;
}
